<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LetsTravelWithUs</title>

    <!-- font awesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">

    <!-- Custom CSS files -->
    <link rel="stylesheet" href='css/style.css'>

</head>

<body>
    <nav class="navbar background">
        <div class="logo"><img src="images/travel logo.png" alt="TravelWithUs"></div>

        <ul class="nav-list">
            <li> <a href="#home" class="home-link"> Home</a> </li>
            <li> <a href="#destinations" class="destination-link"> Destinations</a> </li>
            <li> <a href="#services" class="service-link"> Services</a> </li>
            <li> <a href="#shop" class="shop-link"> Shop</a> </li>
            <li> <a href="#blogs" class="blog-link"> Blogs</a> </li>
            <li> <a href="#contact" class="contact-link"> Contact Us</a> </li>
        </ul>

        {{!-- <div class="navSearch">
            <input type="text" name="search" id="search" placeholder="Search..">
            <button class="btn-sm">Search</button>
        </div> --}}

        <div class="rightNav">
            <i class="fa fa-user" aria-hidden="trues"></i>
            <a href="/register">Registration</a>
            <i class="fa fa-shopping-cart"></i>
        </div>

    </nav>

    <section class="background firstSection">
        <div class="box-main">
            <p class="big-text">HEAD OUT ON YOUR NEXT ADVENTURE</p>
            <button class="btn homepageBtn">BOOK NOW</button>
        </div>
    </section>

    <section class="secondSection">
        <div class="container">
            <img src="images/section1.jpg" alt="">
            <div class="centered"><h2>WRITE YOUR EXPERIENCES</h2></div>
        </div>
        <div class="container">
            <img src="images/section2.jpg" alt="">
            <div class="centered"><h2>EXPLORE MOUNTAINS</h2></div>
        </div>
        <div class="container">
            <img src="images/section3.jpg" alt="">
            <div class="centered"><h2>TRAVEL SAFE WITH US</h2></div>
        </div>
    </section>

    <section class="thirdSection">
        <h2>OUR DESTINATIONS</h2>
        Choose Next Destination 
        <div class="grid-container">
            <div class="grid-item">
                <img src="images/ladhakh.jpg" alt="">
                <div class="destContent destPrice">$200</div>
                <div class="destContent destPlace">Ladhakh, J&K</div>
            </div>
            <div class="grid-item">
                <img src="images/shimla.jpg" alt="">
                <div class="destContent destPrice">$100</div>
                <div class="destContent destPlace">Shimla, Himachal Pradesh</div>
            </div>
            <div class="grid-item">
                <img src="images/dharamshala.jpg" alt="">
                <div class="destContent destPrice">$150</div>
                <div class="destContent destPlace">Dharamshala, Himachal Pradesh</div>
            </div>
            <div class="grid-item">
                <img src="images/jaipur.jpg" alt="">
                <div class="destContent destPrice">$200</div>
                <div class="destContent destPlace">Jaipur, Rajasthan</div>
            </div>
            <div class="grid-item">
                <img src="images/udaipur.jpg" alt="">
                <div class="destContent destPrice">$200</div>
                <div class="destContent destPlace">Udaipur, Rajasthan</div>
            </div>
            <div class="grid-item">
                <img src="images/delhi.jpg" alt="">
                <div class="destContent destPrice">$200</div>
                <div class="destContent destPlace">Delhi, India</div>
            </div>
        </div>
    </section>


    <section class="servicesContainer">
        <h1>SERVICES</h1>
        Why Book With Us
        <div class="grid-container-services">
            <div class="grid-item-services">
                <img src="images/hiddengem.jfif" alt="">
                <div class="grid-item-services-subheading">Hidden Gem Destinations</div>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt repellat, iste earum molestiae repellendus doloribus!</div>
                <button>Learn More</button>
            </div>
            <div class="grid-item-services">
                <img src="images/guide.jfif" alt="">
                <div class="grid-item-services-subheading">Expert's Guide</div>
                <div>Lorem, ipsum dolor sit amet consectetur adipisicing eli voluptatibus nemo nostrum repudiandae modi.</div>
                <button>Learn More</button>
            </div>
            <div class="grid-item-services">
                <img src="images/trek.jpg" alt="">
                <div class="grid-item-services-subheading">Trek and Adventure</div>
                <div>Lorem ipsum dolor sit amet consesapiente veritatis adipisci consequatur laboriosam natus quod officiis tenetur.</div>
                <button>Learn More</button>
            </div>
        </div>
    </section>

    <div class="shopContainer" >
        <h1>Featured Product</h1>
        <div class="shop-container">
            <div class="shop-items">
                <img src="images/bagpack.jpg" alt="">
                <div class="shop-item-name">Bagpack</div>
                <div class="shop-item-price">10$-25$</div>
            </div>
            <div class="shop-items">
                <img src="images/skingkit.jpg" alt="">
                <div class="shop-item-name">Sking Kit</div>
                <div class="shop-item-price">20$-40$</div>
            </div>
            <div class="shop-items">
                <img src="images/shoes.jpg" alt="">
                <div class="shop-item-name">Shoes</div>
                <div class="shop-item-price">5$-250</div>
            </div>
            <div class="shop-items">
                <img src="images/sunglasses.jpg" alt="">
                <div class="shop-item-name">Sun Glasses</div>
                <div class="shop-item-price">5$-15$</div>
            </div>
        </div>
    </div>
    


    <div class="blogContainer" >
        <div class="blogContainer-heading">OUR BLOGS</div>
        <div class="blogContainer-subheading">See Our Recent News & Updates </div>
        <div class="blog-container">
            <div class="blog-item">
                <img src="images/blog1.jpg" alt="">
                <div class="blog-item-heading">Manali Fairs and Festivals</div>
                <div class="blog-item-desciption">:by Deepak Dhaker   May 13, 2021 at 5:00pm</div>
                <div class="blog-item-content">Manali has a rich cultural legacy with a diverse heritage and local traditions. Check out as Manali celebrates life with local fairs and festivals that have a charm of their own.Following is the list of famous</div>
                <button>Read Full Blog here</button>
                
            </div>
            <div class="blog-item">
                <img src="images/blog2.jpg" alt="">
                <div class="blog-item-heading">Temples in Rajasthan Tourism</div>
                <div class="blog-item-desciption">:by Surendra Dan Charan   Jan 10, 2020 at 12:00pm</div>
                <div class="blog-item-content">Rajasthan is a desert state known for its ethnicity and culture, it is a place  that is also well known for its stunning palaces and also historical forts. A few of these temples were built centuries ago and give you a sneak peak into ancient religious architecture.</div>
                <button>Read Full Blog here</button>
               
            </div>
        </div>
    </div>


    <div class="contactContainer" >
        <div class="contact-container">
            <div class="contact-item1">
                <div class="contact-item-heading">Contact Us</div>
                <img src="images/address.png" alt="">
                <div class="contact-details">121 Rock Street, Naya Nagar, Delhi, India </div>
                <img src="images/contact.png" alt="">
                <div class="contact-number">+9199824*****</div>
                <div class="contact-number">+9176283*****</div>
            </div>
            <div class="contact-item2">
                <div><input type="text" name="username" id="username" placeholder="Enter your name.."></div>
                <div><input type="email" name="useremail" id="useremail" placeholder="Enter valid email.."></div>
                <div><textarea name="message" id="message" placeholder="Enter your message" style="width: 427px ;height: 99px;"></textarea></div>
                <div><button type="button" onclick="alert('Details Submitted..')">Submit</button></div>
            </div>
        </div>
    </div>


    <div class="bookContainer">
        <h1>Want to Travel With Us?</h1>
        <button class="btn">BOOK NOW</button>
    </div>


    <footer class="footer">
        <div class="footer-grid-content">
            <div class="footer-grid-content1">
                <h3>About Us</h3>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore odio praesentium, enim saepe, cupiditate atque quaerat voluptatum, quas ipsam eum esse repellat. Nostrum tenetur impedit libero. Iste qui impedit numquam?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex, ullam!</div>
            </div>
            <div class="footer-grid-content2">
                <h3>Quick Links</h3>
                <div><a href="#">Home</a></div>
                <div><a href="#">Destination</a></div>
                <div><a href="#">Services</a></div>
                <div><a href="#">Shop</a></div>
                <div><a href="#">Blogs</a></div>
                <div><a href="#">Contact us</a></div>
            </div>
            <div class="footer-grid-content3">
                <h3>Contact Info</h3>
                <div><a href="#"><i class="fa-solid fa-phone"></i> +9199824*****</a></div>
                <div><a href="#"><i class="fa-solid fa-phone"></i> +9187234*****</a></div>
                <div><a href="#"><i class="fa-solid fa-envelope"></i> deepak143@gmail.com</a></div>
                <div><a href="#"><i class="fa-solid fa-house-user"></i> Delhi, India</a></div>
            </div>
            <div class="footer-grid-content4">
                <h3>Follow Us</h3>
                <div><a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a></div>
                <div><a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a></div>
                <div><a href="#"><i class="fa-brands fa-twitter"></i> Twitter</a></div>
                <div><a href="#"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></div>
            </div>
        </div>
        
        <div class="footer-content">Created By | <span style="color: white;">Deepak Dhaker</span> | All Rights Reserved!</div>
    </footer>




    <!-- Custom JavaScript Files -->
    <script src="js/script.js"></script>
</body>

</html>